
.faq {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  &_block {
    text-align: center;

    h2 {
      font-size: 150px;
      font-weight: 500;
      letter-spacing: 4px;
      margin-bottom: 0;
    }

    &_component{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 0;
      

      &_item {
        width: 48.7%;
        padding: 40px 10px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        font-size: 25px;
        cursor: pointer;

        img {
          width: 20px;
          height: 20px;
          color: black;

        }
      }
    }

    &_question {
      padding: 40px;
      border: 1px solid black;
      background-color: rgb(237, 52, 52);
      font-size: 30px;
      
    }

    &_card {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      
    &_item {
      width: 923px;
      height: 500px;
      border: 1px solid black;
      text-align: center;
      cursor: pointer;

      h3 {
        color: black;
        font-size: 50px;
        font-weight: 1100;
        padding-top: 100px;
      }

      h2 {
        color: black;
        font-size: 55px;
        font-weight: 1100;
      }
    }
  }
}
}