

.slider_button {
  position: absolute;
  width: 20px;
  height: 20px;
  background: none;
  border: 0;
  font-size: 4em;
  top: 40%;
  cursor: pointer;
  color: white;
}

.left {
  left: -67px;
}

.right {
  right: -10px;
}